*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background: #E8E8E8;
    background-size: cover;
}
.container-line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
}
.line{
    border:2px solid #707070;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
     animation: fadeIn ease 3s; 
}
.header{
    width: 450px;
    height: 200px;
    padding: 10px 10px;
    display: table;
     animation: fadeIn ease 3s; 
}
.header h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #0059A0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     animation: fadeIn ease 3s; 
}
 .picture1{
    position: relative;
}
.picture1 img{
    position: absolute;
    left: 49%;
    transform: translate(0,-75%);
    width: 550px;
    height: 320px;
    z-index: 2;
}
.picture2{
    position: relative;
}
.picture2 img{
    position: absolute;
    left: -2%;
    width: 550px;
    height: 320px;
    z-index: 1;
    transform: translateY(+8%);
}
.text{
    
    width: 230px;
    height: 150px;
    padding: 10px 10px;
    display: table;
    position: relative;
    left: 63%;
    top: 20%;
     animation: fadeIn ease 3s; 
} 
.text p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #0059A0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn ease 3s; 
}
@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}