*{
	margin: 0;
	padding: 0;
}
nav{
	background: #e8e8e8; 
	padding: 10px 30px 0px 30px;
}
nav ul{
	list-style: none;
	display:inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
} 
nav ul li{
	padding: 15px 0;
}
nav ul li.menu{
	margin: 0 25px;
	text-align: center;
	position: relative;
	order:20;
}
nav ul li.menu:after{
	position: absolute;
	content: '';
	left:0;
	bottom: 10px;
	height: 3px;
	width: 100%;
	background: #fd951c;
	opacity: 0;
	transition: 0.2s linear;
}
nav ul li.menu:hover:after{
opacity: 1;
}

nav ul li.logo{
	background: url("./firca.png");
    max-width: 200px; 
	flex-grow: 1;
	margin-right: 60px;
}
nav ul li.logo a{
	font-weight:600;
}
nav ul li a{
	color:#025197;
	font-size: 18px;
	text-decoration: none;
	transition: 0.2s ease;
}
nav ul li:hover a{
	color:#0374d6;
}
nav ul li i{
	font-size: 23px;
	color: rgb(82, 82, 82);
}
nav ul li.btn{
	cursor: pointer;
	display: none;
}

@media only screen and (max-width:650px){
	nav ul li.menu{
		width: 100%;
		display: none;
	}
	nav ul li.btn{
		display: block;
	}
	.menu.goster{
		display: block;
	}
	
}
