html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 10;
    padding: 10;
  }
  .text-header{
    width: 200px;
    height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: url("./firca.png");
    animation: fadeIn ease 3s; 
  }
  
  .text-header h1{
    text-align: center;
    color: #0059A0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn ease 3s;
  }
  .text-slide{
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    display: table;
    position: relative;
     animation: fadeIn ease 3s; 
  }
  .text-slide p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #0059A0;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     animation: fadeIn ease 3s; 
  }
  .outer-container{
    width: 100%;
    height: 100vh;
    background: #E8E8E8;
    background-size: cover;
  }

  .container-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

  }
  .arrow{
    position: relative;
  }
  .arrow > a > img{
    position: absolute;
    left: 85%;
    transform: translate(0,-310%);
    max-width: 80px;
    max-height: 80px;
}
.arrow > a >img:hover{
  cursor: pointer;
}
.button a:hover{
  background:rgb(132, 203, 231);
  transition: background-color 0.2s ease-in-out;
}
  .thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    box-shadow: 10px 10px 8px #888888;
    
  }

  
    .thumbnails a {
      display: block;
    }
    
    .thumbnails img {
      width: 30vmin;
      height: 20vmin;
      object-fit: cover;
      object-position: top;
      filter: grayscale(1);
    }
    .thumbnails img:hover{
        filter: none;
    }
  
  .slides {
    overflow: hidden;
    width: 75vmin;
    height: 60vmin;
    box-shadow: 10px 10px 8px #888888;
  } 
    .slides li {
      width: 75vmin;
      height: 60vmin;
      position: absolute;
      z-index: 1;
      list-style-type:none;
     
    }

    .slides img {
      width: 75vmin;
      height: 60vmin;
      object-fit: cover;
      object-position: top;
      
    }
  .slides li:target {
    z-index: 3;
    animation: slide 1s 1;
  }
  
  .slides li:not(:target) {
    animation: hidden 1s 1;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }
  @keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}